<main class="principal">
  <h2 class="principal__titulo">Dados do cadastro</h2>

  <form class="principal__formulario" id="formulario" #formulario="ngForm" (ngSubmit)="cadastrar(formulario)">
    <h3 class="principal__subtitulo">Dados pessoais</h3>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="nome">Nome Completo</label>
      <input name="nome" id="nome" class="campo__escrita" ngModel required minlength="2" #nome="ngModel" />
      <app-mensagem-validacao-form *ngIf="nome?.errors?.['required'] && nome?.touched" mensagem="Campo obrigatório"></app-mensagem-validacao-form>
      <app-mensagem-validacao-form *ngIf="nome?.errors?.['minlength'] && nome?.dirty" mensagem="Campo deve ter o minimo 2 caracteres"></app-mensagem-validacao-form>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="nascimento">Nascimento</label>
        <input name="nascimento" id="nascimento" type="date" class="campo__escrita" ngModel #nascimento="ngModel" required maiorIdadeValidator />
        <app-mensagem-validacao-form *ngIf="nascimento.errors?.['required'] && nascimento.touched" mensagem="Campo obrigatório" ></app-mensagem-validacao-form>
        <app-mensagem-validacao-form *ngIf="nascimento.errors?.['maiorIdadeValidator'] && nascimento.dirty" mensagem="Você precisa ter mais de 18 anos" ></app-mensagem-validacao-form>
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="telefone">Contato</label>
        <input name="telefone" id="telefone" type="tel" placeholder="(XX) XXXXX-XXXX" class="campo__escrita" ngModel #telefone="ngModel" required pattern="(\(?\d{2}\)?\s)(\d{4,5}\-\d{4})" />
        <app-mensagem-validacao-form *ngIf="telefone.errors?.['required'] && telefone.touched" mensagem="Campo obrigatório" ></app-mensagem-validacao-form>
        <app-mensagem-validacao-form *ngIf="telefone.errors?.['pattern'] && telefone.dirty" mensagem="Exemplo: 12 12345-1234" ></app-mensagem-validacao-form>  
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="email">E-mail</label>
      <input name="email" id="email" type="email" class="campo__escrita" ngModel #email="ngModel" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" />
      <app-mensagem-validacao-form *ngIf="email.errors?.['required'] && email?.touched" mensagem="Campo obrigatório"></app-mensagem-validacao-form>
      <app-mensagem-validacao-form *ngIf="email?.errors?.['pattern'] && email?.dirty" mensagem="Exemplo: exemplo@dominio.com"></app-mensagem-validacao-form>
      <!-- <span class="erro__texto" *ngIf="formulario.controls['email']?.errors?.['email'] && formulario.controls['email']?.dirty">exemplo: exemplo@dominio.com</span> -->
    </div>


    <h3 class="principal__subtitulo">Endereço</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="cep">CEP</label>
      <input name="cep" id="cep" (blur)="pesquisaCep($event, formulario)" class="campo__escrita" ngModel required #cep="ngModel" pattern="^(\d{5})(-?\d{3})$" minlength="8" maxlength="9" validaCep />
      <app-mensagem-validacao-form *ngIf="cep?.errors?.['required'] && cep?.touched" mensagem="Campo obrigatório"></app-mensagem-validacao-form>
      <app-mensagem-validacao-form *ngIf="cep?.errors?.['pattern'] && cep?.dirty" mensagem="Exemplo 12345-123"></app-mensagem-validacao-form>
      <app-mensagem-validacao-form *ngIf="cep?.errors?.['validaCep']" mensagem="CEP inválido"></app-mensagem-validacao-form>
    </div>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="endereco">Endereço</label>
      <input name="endereco" id="endereco" class="campo__escrita" ngModel required #end="ngModel"/>
      <app-mensagem-validacao-form *ngIf="end?.errors?.['required'] && end?.touched" mensagem="Campo obrigatório"></app-mensagem-validacao-form>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="numero">Numero</label>
        <input name="numero" id="numero" class="campo__escrita" ngModel #num="ngModel" pattern="\d{1,}?$"/>
        <app-mensagem-validacao-form *ngIf="num?.errors?.['pattern'] && num?.dirty" mensagem="Favor informar somente número"></app-mensagem-validacao-form>


      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complemento</label>
        <input name="complemento" id="complemento" class="campo__escrita" />
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="bairro">Bairro</label>
      <input name="bairro" id="bairro" class="campo__escrita" ngModel required #bairro="ngModel" />
      <app-mensagem-validacao-form *ngIf="bairro?.errors?.['required'] && bairro?.dirty" mensagem="Campo obrigatório"></app-mensagem-validacao-form>

    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="cidade">Cidade</label>
        <input name="cidade" id="cidade" class="campo__escrita" ngModel required #cidade="ngModel" />
        <app-mensagem-validacao-form *ngIf="cidade?.errors?.['required'] && cidade?.touched" mensagem="Campo obrigatório"></app-mensagem-validacao-form>

      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="estado">UF</label>
        <select id="estado" name="estado" class="campo__escrita" ngModel required #uf="ngModel">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>
        <app-mensagem-validacao-form *ngIf="uf?.errors?.['required'] && uf?.touched" mensagem="Campo obrigatório"></app-mensagem-validacao-form>

      </div>

    </div>
    <button type="submit" class="formulario__botao">Enviar formulário</button>
    </form>
</main>
